@import url(common/reset.css);
/* 공통 */
html{
  font-size: 16px;
}
.w1100{
  width: 1100px;
  margin: 0 auto;
}
/* section1공통 */




/* 헤더시작 */
header{
  width: 100%;
}
#gnb_bg{
  width: 100%; height: 0;
  background-color: rgba(0, 0, 0, 60%);
  transition: 0.4s;
}
.inner_header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 30px;
  box-sizing: border-box;
}
.logo{
  display: block;
  width: 180px; height: 50px;  /* 로고사이즈 조절*/ 
  background-image: url(../img/FS_Logo_SplashScreen.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}
#servise{
  background-color: #91CF00;
}
.gnb{
  display: flex;
  align-items: center;
}
.gnb>ul{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.gnb>ul>li{
  display: flex;
  margin-left: 70px;
}
.gnb>ul>li>a{
  display: block;
  /* padding: 5px 15px 5px; */
  /* box-sizing: border-box; */
  font-size: 1.125rem;  /* gnb 폰트사이즈 */
  color: #ddd;
  position: relative;                              
}

.gnb_menu>a:after{
  background-color: #fff;
  display: block;
  position: absolute;
  content: '';
  width: 0; height: 0px;
  transition: 0.9s;
}
.gnb_menu>a:hover:after{
  width: 100%;
  height: 3px;
}
.gnb_menu{
  /* position: relative; */
}
.lnb{
  width: 350px;
  /* position: absolute; */
  top: 50px;
  display: none;
  font-size: 1rem;
  justify-content: space-between;
}
.lnb>li{
  padding: 10px 0;
}
.lnb>li>a{
  color: #fff;
}
.greenRoundBox{
  background-color: #91CF00;
  padding: 5px 15px 5px;
  box-sizing: border-box;
  border-radius: 20px;
  font-size: 1.125rem;  /* gnb 폰트사이즈 */
  color: #ddd;
}
/* 모바일용 gnb */
.m_haberger{
  display: none;
}
.m_haberger span{
  display: block;
  width: 30px;
  height: 2px;
  background-color: white;
} 
.m_haberger span:nth-child(2){
  margin-top: 10px;
} 
.m_haberger span:nth-child(3){
  margin-top: 10px;
} 
/* 섹션1 시작 */
/* 섹션1 백그라운드 */
#section1{
  margin-top: -80px;
  width: 100%;
  height: 800px;
  background-image: url(../img/woman-g023d417ef_1920.jpg);
  background-repeat: no-repeat;
  background-size: cover; 
}
.section1_bg{
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}
/* 섹션1 이너 */
.section1_inner{
  position: relative;
  top: -80%;
          /* 이너박스를 섹션원 백그라운드에 넣어준값(이너박스 높이 조절) */ 
}
.section1_inner>h1{
  font-size: 2.687rem;
  font-weight: bold;
  color: #fff;
  margin-bottom: 30px;
}
.free_box>a{
  width: fit-content;
  display: block;
  padding: 10px 40px;
  border-radius: 10px;
  background-color: #91CF00;
  box-sizing: border-box;
  color: #fff;
  font-weight: bold;
  margin-bottom: 20px;
}
.section1_inner>p{
  font-size: 0.937rem;
  color: #fff;
  margin-bottom: 20px;
}
.section1_inner>p a{
  color: #91CF00;
  font-weight: bold;
}
.section1_inner>h3{
  font-size: 1.312rem;
  color: #fff;
  margin-bottom: 20px;
}


/* 섹션2 시작 */
#section2{
width: 100%;
position: relative;
}

/* 섹션2 의 메뉴박스 */
.menu_box{
  margin-top: -6%;
}
.menu_box_cont{
  padding: 30px 100px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  background-color: #91CF00;
  border-radius: 20px;
}
.menu_box_cont>li{
  width: 20%;
}
.menu_box_cont>li>a>div{
  width: 100%;
  height: 100px; 
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  margin-bottom: 16px;
}
.box_icon1{
  background-image: url(../img/free-icon-calories-calculator-5223283.png);
}
.box_icon2{
  background-image: url(../img/free-icon-chicken-1680514.png);
}
.box_icon3{
  background-image: url(../img/free-icon-recipe-book-7373689.png);
}
.box_icon4{
  background-image: url(../img/free-icon-gym-1421388.png);
}
.box_icon5{
  background-image: url(../img/free-icon-community-3594852.png);
}
.menu_box_cont>li>a{
  text-align: center;
}
.menu_box_cont>li>a span{
 display: block;
 text-align: center;
 color: #fff;
 font-size: 1.1555em;
 font-weight: bold;
}
/* 섹션2 비만도계산 */
.calculator{
  margin-top: 132.5px;
  margin-bottom: 160px;
}
.inner_calc{
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
/* 비만도 계산 왼쪽 박스 */
.inner_calc_left{
  width: 50%;
}
.inner_calc_left>h1{ /* 나의비만도는 */
  font-size: 2.4rem;
  font-weight: bolder;
  margin-bottom: 30px;
  letter-spacing: -5px;
}
.inner_calc_left p{   /* 성별정보 ,신체 정보 */
  font-size: 1.125rem;
  font-weight: bold;
}
.gender_box{
  margin: 10px 0 20px;
}
.input_box{
  width: 80%;
  display: flex;
  justify-content: space-between;
  border: 1px solid;
  padding: 8px 10px;
  box-sizing: border-box;
  margin-top: 10px;
}
.input_box>input{
  width: 50%;
  border: none;
  outline: none;
}
.input_box>span{
 font-weight: bold;
}
.green_btn{
    margin-top: 20px;
    width: 80%;
    font-weight: bold;
    font-size: 1rem;
    padding: 11px;
    background: #91CF00;
    color: #fff;
    cursor: pointer;
    border: 0;
    border-radius: 20px;
}
/* 비만도 계산 오른쪽 박스 */
.inner_calc_right{
  width: 50%;
}
.inner_calc_right>p{
  font-size: 1.125rem;
  font-weight: bold;
}
.result_box{
  width: 100%;
  background-color: #91CF00;
  text-align: center;
  border-radius: 10px;
  margin-top: 20px;
}
.result_box span{
  color: #fff;
}
.result_box>div{
  padding-top: 40px;
  box-sizing: border-box;
}

.weight{
  display: inline-block;
  border-bottom: 1px solid #fff;
  padding: 10px 10px 5px;
  box-sizing: border-box;
  margin: 0 10px;
  min-width: 200px;
}
.reset_box>button{
  background-color: #91CF00;
  border: 0;
  font-size: 1rem;
  color: #fff;
  font-weight: bold;
  padding-bottom: 40px;
  box-sizing: border-box;
}


/* 컨텐츠2 컨텐츠 소개페이지 시작 */

.f_green{
  color: #91CF00;
}
/* 공통 */
/* 섹션 오른쪽 사진 왼쪽 텍스트 시작 */
.cont1{
  padding: 180px 0 255px;
  background-color: rgba(145,207,0, 20%);
}
.inner_cont{  
  display: flex;
  justify-content: space-between;
}  /* 컨텐츠 소개페이지 공통 이너  */
.inner_cont h4{
  font-size: 1.45rem;
  font-weight: bold;
  margin-bottom: 20px;   /* 공통 글씨 */
}
.inner_cont h1{
  font-size: 2.4rem;
  font-weight: 900;
  margin-bottom: 30px;
  letter-spacing: -2px;  /* 공통 글씨 */
}
.cont_title{
  padding-top: 30px;
}
.cont_title>h1>span{
  margin-top: -10px;
  display: block;
}
.cont_title>a{
  font-size: 1.25rem;
  font-weight: 700;
}
.cont_title>a>span{
  font-size: 1.5rem;
}
/* 슬라이드 이미지섹션 시작*/
.cont_img{
  width: 54.5%;
  height: 370px;
}
.cont_img>img{
  width: 100%;
  height: 100%;
  border-radius: 15px;
}

/* 섹션 왼쪽 사진 오른쪽 텍스트 시작 */
.cont2_posi{
  position: relative;
  top: -60px;
}


/* 중간타이틀시작 */
.center_title{
  background-color: rgba(145, 207,0, 30%);
  text-align: center;
  padding: 90px 0 70px;
  box-sizing: border-box;
  letter-spacing: -2px;
}
.center_title>img{
  width: 200px;height: 42px;
  margin-bottom: 20px;
}
.center_title>h1{
  font-size: 2.4rem;
  font-weight: bold;
  color: #91CF00;
  margin-bottom: 40px;
}
.center_title>h1>strong{
  color: #A44141;
}
.center_title>h4{
  font-size: 1.4rem;
  color: #A44141;
}
.center_title>h4>strong{
  font-size: 1.5rem;
  font-weight: bold;
}



/* 팻시크릿 사용법 섹션 시작 */
.useruse{
  padding: 120px 0 150px;
  box-sizing: border-box;
  background-color: #91CF00;
  color: #fff;
  font-size: 1.15rem;
  font-weight: bold;
}
.inner_useruse>ul{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.inner_useruse>ul>li>div{
  background-color: #fff;
  border-radius: 50%;
  width: 220px; height: 220px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 25px;
}
.inner_useruse>ul>li>div>img{
  display: block;
  width: 50%;
  margin: 0 auto;
}
.inner_useruse>ul>li>p{
  text-align: center;
}


/* 팻시크릿 커뮤니티 섹션 */
.common_title{
  font-size: 2.38rem;
  font-weight: bold;
  letter-spacing: -2px;
  margin-bottom: 25px;
}
.title_sub{
  display: flex;
  justify-content: space-between;
  font-size: 1.15rem;
  font-weight: bold;
  margin-bottom: 30px;
}
.title_sub>p{
  color: #666666;
}
/* 공통 */

.community_sec{
  padding: 120px 0 90px;
  box-sizing: border-box;
}

.t_sub_more>a{
  color: #91CF00;
}
.t_sub_more>a>span{
  font-size: 1.5rem;
}

.com_list{
  display: flex;
  justify-content: space-between;
}
.commu_list_cont{
  width: calc(33.333% - 36.666px);
}

.commu_list_cont>a div{
  padding-top: 70%;  /* 얘는 원하는 사이즈 박스의 높이/230*100 */
  border-radius: 20px; 
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
.commu_img1{
  background-image: url(../img/8db2f3ec-5ff1-4e43-8e2f-db7ef754a407_fs2.jpg);
   
}
.commu_img2{
  background-image: url(../img/279dec71-4f44-4695-b490-09392e64315c_fs2.jpg);
   
}
.commu_img3{
  background-image: url(../img/932a159a-f4e7-41e2-8f5e-a4aaa3a6f928_fs2.jpg);
   
}
.commu_list_cont>a h4{
  font-size: 0.875rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-top: 20px;
}

.commu_uinfo{
  padding-top: 15px;
}
.commu_uinfo a{
  display: flex;
  align-items: center;
}
.commu_uinfo a>div{
  width: 35px; height: 35px;
  border-radius: 50%;
  background-size: cover;
  margin-right: 15px;
}
.commu_uinfo a>p{
  font-size: 0.95rem;
}
.uinfo_img1{
  background-image: url(../img/8998e7e1-f645-41c3-a135-b21e8e2db6ef_sq.jpg);
}
.uinfo_img2{
  background-image: url(../img/d6c97a87-388f-4a84-836a-6585dd0f293b_sq.jpg);
}
.uinfo_img3{
  background-image: url(../img/a22d2a0b-ca00-4fa5-ab4e-3d1ce75ec658_sq.jpg);
}
.hide_more{
  padding-top: 40px;
}
.hide_more>a{
  display: none;
  width: 240px; height: 40px;
  background-color: #91CF00;
  color: #fff;
  font-weight: bold;
  border-radius: 20px;
  font-size: 1.2rem;
  margin: 0 auto;
  text-align: center;
  line-height: 40px;
}


/* 문의사항섹션 */
.qustions_sec{
  padding-bottom: 125px;
  box-sizing: border-box;
}
.qustions_list{
  display: flex;
  justify-content: space-between;
}
.qustions_list>li{
  width: calc(50% - 22px);
  position: relative;
}
.qustions_list>li>a{
  display: block;
  padding: 35px 50px;
  box-sizing: border-box;
  border: 2px solid #CCCCCC;
}
.qustions_list>li>a>h3{
  font-size: 1.52rem;  
  font-weight: bold;
}
.qustions_list>li>a>h5{
  margin-bottom: 5px;
  font-size: 1rem;
  opacity: 70%;
}
.qustions_more{
  width: fit-content; 
  padding: 5px 15px;
  color: #fff;
  font-size: 0.8rem;
  background-color: #91CF00;
  border-radius: 5px;
  text-align: center;
}

.qustions_list>li>a>img{
  position: absolute;
  width: 50px;
  right: 50px;
  top: calc(50% - 25px);
}






/* 반응형시작*/
@media(max-width:1100px){
  .w1100{
    width: 100%;
    padding-left: 30px; padding-right: 30px;
    box-sizing: border-box;
  }
  /* 헤더 */
  .m_haberger{
  display: block;
}
.gnb{
  display: none;
}
/* 섹션1 */
#section1{
  height: 700px;
}

/* 메뉴섹션 */
.menu_box_cont{
  padding: 30px 80px;
  box-sizing: border-box;
}
.menu_box_cont div{
  width: 80px; height: 80px;
}
}
@media(max-width:820px){
  html{
  font-size: 12px;
}


/* 섹션1 */
#section1{
  height: 600px;
}


/* 메뉴 섹션 */
.menu_box_cont{
  padding: 30px 50px;
  box-sizing: border-box;
}

.menu_box_cont>li>a>div{
  height: 80px; 
  margin-bottom: 16px;
}

/* 비만도 계산 */
.calculator{
  margin-top: 100px;
  margin-bottom: 130px;
}
.inner_calc{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.inner_calc_right{
  margin-top: 50px;
}
.input_box{
  width: 100%;
}
.green_btn{
  width: 100%;
}
/* 컨텐츠2 시작 오늘먹은 칼로리? */

.cont_img{
  height: 250px;
}
/* 팻시크릿 사용법 섹션 */
.inner_useruse>ul>li>div{
  width: 180px; height: 180px;
}
/* 팻시크릿 커뮤니티 섹션 */
.t_sub_more{
  display: none;
}
.hide_more>a{
  display: block;
}
.commu_list_cont:nth-child(3){
  display: none;
}
.commu_list_cont{
  width: calc(50% - 36.666px);
}
/* 문의사항섹션 */
.qustions_list>li>a{
  padding: 15px 30px;
}
.qustions_list>li>a>img{
  width: 40px;
}
}
@media(max-width:414px){
  html{
  font-size: 10px;
}

/* 섹션1 */
#section1{
  height: 500px;
}

/* 메뉴섹션 */
.menu_box_cont{
  padding: 20px 0;
}
.menu_box_cont>li{
  width: 33.333%;
}
.menu_box_cont>li:nth-child(4){
  display: none;
}
.menu_box_cont>li:nth-child(5){
  display: none;
}
.menu_box_cont>li>a>div{ 
  margin-bottom: 8px;
}


/* 비만도 계산 */
.inner_calc_left{
  width: 100%;
}
.inner_calc_right{
  width: 100%;
}
.weight{
  min-width: 100px;
}
/* 컨텐츠2 시작 오늘먹은 칼로리? */
.inner_cont{
  flex-wrap: wrap;
}
.cont1{
  padding: 100px 0 150px;
}
.cont_title{
  margin-bottom: 20px;
}
.cont_title>h4{
  display: none;
}
.cont_img{
  width: 100%;
  height: 200px;
}
.cont2_posi{
  position: static;
}

/* 팻시크릿 사용법 섹션 */
.inner_useruse>ul{
  justify-content: center;
}
.inner_useruse>ul>li:nth-child(2){
  margin: 30px 0;
}
.inner_useruse>ul>li>div{
  width: 150px; height: 150px;
}
/* 팻시크릿 커뮤니티 섹션 */
.commu_list_cont:nth-child(2){
  display: none;
}
.commu_list_cont{
  width: 100%;
}
/* 문의사항 섹션 */
.qustions_list{
  flex-wrap: wrap;
}
.qustions_list>li{
  width: 100%;
}
.qustions_list>li:nth-child(2){
  margin-top: 20px;
}
}