<main class="calendar w1100">
    <div class="processbox_wrap">
        <div class="t_sucsess">목표달성!!</div>
        <ul class="processbox_bg">
            <li class="cWeight_pig">
                <p class="cWeight"><%= cWeight %><strong>kg</strong></p>
                <div class="cWeight_img"><img src="../img/pig.gif" alt=""></div>
            </li>
            <li class="tWeight_thropy">
                <p class="tWeight"><%= tWeight %><strong>kg</strong></p>
                <div class="tWeight_img"><img src="../img/award.gif" alt=""></div>
            </li>
        </ul>
    </div>
    <div class="calendarbox_wrap"></div>
</main>
<script src="js/calendar.js"></script>